.pop {
    text-align: right;
}

.officialLanguage {
    color: red;
    font-weight: bold;
}

h1{
    font-family: 'Roboto Condensed', sans-serif;
}

p{
    display: inline;
}

table {
    border: solid;
    border-collapse: separate;
}

table th {
    color: white;
    background-color: black;
}

table tr:nth-child(odd) {
    background-color: aquamarine;
}

table tr:nth-child(even) {
    background-color: antiquewhite;
}